@model IEnumerable<CoreApp.Models.EventCalendar>
@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>CoreApp</h1>
    <p class="lead">
        Welcome to court booking site....
    </p>
    .... DESCRIPTION ....
    <p>Call manager to book: +380980000000</p>
    <a asp-action="ShowBookings" class="btn btn-success">Show your bookings</a>
</div>


